.rectangle-div {
  height: 81px;
  width: 324px;
  position: relative;
  border-radius: var(--br-41xl);
  background-color: var(--color-darkgray);
  display: none;
  max-width: 100%;
}
.about-us {
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.desktop-3-inner,
.rectangle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.rectangle-container {
  border-radius: var(--br-41xl);
  background-color: var(--color-darkgray);
  align-items: center;
  padding: var(--padding-2xs) var(--padding-41xl) var(--padding-xs)
    var(--padding-42xl);
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.desktop-3-inner {
  width: 718px;
  align-items: flex-start;
}
.frame-child1 {
  height: 813px;
  width: 659px;
  position: absolute;
  margin: 0 !important;
  top: -61.5px;
  left: -329.5px;
  background-color: var(--color-black);
  mix-blend-mode: color-dodge;
}
.and-professional-development,
.join-us-in,
.of-skills-and,
.our-mission-is {
  margin: 0;
}
.our-mission-is-container {
  height: 777px;
  width: 574px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.desktop-3,
.frame-div {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-div {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  color: var(--color-black);
}
.desktop-3 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-34xl) var(--padding-127xl) var(--padding-61xl);
  box-sizing: border-box;
  gap: 33px 0;
  background-image: url(/public/desktop--2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .our-mission-is-container {
    font-size: var(--font-size-19xl);
  }
  .desktop-3 {
    padding: var(--padding-15xl) var(--padding-54xl) var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .desktop-3 {
    gap: 33px 0;
    padding: var(--padding-3xl) var(--padding-17xl) var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangle-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .our-mission-is-container {
    font-size: var(--font-size-10xl);
  }
}
